$color-blue-0: #2589eb;
$color-blue-1: #2369D1;
$color-blue-2: #228DF0;
$color-black-0: #212121;
$color-black-1: #424242;
$color-black-2:#E0E0E0;
$color-black-3:#F5FAFF;
$color-black-4: #9E9E9E;
$color-yellow-0: #ffbd47;
$color-yellow-1: #FFBD47;
$color-gray-0: #4b4b4b;
$color-gray-1:#E5E5E5;
$color-gray-2: #F2F2F2;
$color-gray-3: #E3E9F2;
$color-white-0:#fff;


//font size
$fs-0:14px;
$fs-1:24px;
$fs-2:8px;

//font weight
$fw-0:300;
$fw-1:400;
$fw-2:500;
$fw-3:700;

//margin
$mg-0:20px;

//padding
$pd-0:13px;
$pd-1:70px;

// line-height
$line-height-0:21px;

// border-radius

$border-radius-0:30px;
$border-radius-1:10px;
$border-radius-2:16px;

//breakpoints
$breakpoints:('screen-4' : 1690px ,'screen-3': 1920px,'screen-2': 1450px,'screen-1':1350px, 'extra-large':1200px, 'large':992px, 'medium':768px, 'small':576px);