.border-left{
  border-left: 2px solid var(--primary) !important;
}


.sidebar{
  top: 0;
  left : 0;
  z-index : 100;
  overflow-y: auto;
}

.overlay{
  background-color: rgb(0 0 0 / 45%);
  z-index: 99;
}

/* sidebar for small screens */
CREATE TABLE adx_type(
    id_adx INT AUTO_INCREMENT,
    image VARCHAR(100),
    name_adx VARCHAR(100),
    name_demo VARCHAR(100),
    posti VARCHAR(100),
    size VARCHAR(100),
    detail VARCHAR(200),
    type_adx VARCHAR(100),
    type_screen VARCHAR(100),
    PRIMARY KEY(id_adx)
);

DROP TABLE adx_type;

CREATE TABLE demo_adx(
    id_demo  INT AUTO_INCREMENT,
    name_demo VARCHAR(100),
    image VARCHAR(1000),
    link_button1 VARCHAR(100),
    link_button2 VARCHAR(100),
    id_type_adx INT,
    PRIMARY KEY(id_demo),
    FOREIGN KEY(id_type_adx) REFERENCES adx_type(id_adx) ON DELETE CASCADE 
);


DROP TABLE demo_adx;

-- ADX PC
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image', 'name_adx', 'name_demo', 'position', 'size', 'detail', 'ADX PC', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image2', 'name_adx2', 'name_demo2', 'position2', 'size2', 'detail2', 'ADX PC', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx,  type_screen) VALUES('image3', 'name_adx3', 'name_demo3', 'position3', 'size3', 'detail3', 'ADX PC', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx,  type_screen) VALUES('image4', 'name_adx4', 'name_demo4', 'position4', 'size4', 'detail4', 'ADX PC', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx,  type_screen) VALUES('image5', 'name_adx5', 'name_demo5', 'position5', 'size5', 'detail5', 'ADX PC', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx,  type_screen) VALUES('image6', 'name_adx6', 'name_demo6', 'position6', 'size6', 'detail6', 'ADX PC', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx,  type_screen) VALUES('image7', 'name_adx7', 'name_demo7', 'position7', 'size7', 'detail7', 'ADX PC', 'PC');

-- ADX MOBILE

INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image', 'name_adx', 'name_demo', 'position', 'size', 'detail', 'ADX MOBILE', 'MOBILE');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image2', 'name_adx2', 'name_demo2', 'position2', 'size2', 'detail2', 'ADX MOBILE', 'MOBILE');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image3', 'name_adx3', 'name_demo3', 'position3', 'size3', 'detail3', 'ADX MOBILE', 'MOBILE');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image4', 'name_adx4', 'name_demo4', 'position4', 'size4', 'detail4', 'ADX MOBILE', 'MOBILE');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image5', 'name_adx5', 'name_demo5', 'position5', 'size5', 'detail5', 'ADX MOBILE', 'MOBILE');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image6', 'name_adx6', 'name_demo6', 'position6', 'size6', 'detail6', 'ADX MOBILE', 'MOBILE');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image7', 'name_adx7', 'name_demo7', 'position7', 'size7', 'detail7', 'ADX MOBILE', 'MOBILE');

-- ADX SPONSOR

INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image', 'name_adx', 'name_demo', 'position', 'size', 'detail', 'ADX SPONSOR', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image2', 'name_adx2', 'name_demo2', 'position2', 'size2', 'detail2', 'ADX SPONSOR', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image3', 'name_adx3', 'name_demo3', 'position3', 'size3', 'detail3', 'ADX SPONSOR', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image4', 'name_adx4', 'name_demo4', 'position4', 'size4', 'detail4', 'ADX SPONSOR', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image5', 'name_adx5', 'name_demo5', 'position5', 'size5', 'detail5', 'ADX SPONSOR', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image6', 'name_adx6', 'name_demo6', 'position6', 'size6', 'detail6', 'ADX SPONSOR', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image7', 'name_adx7', 'name_demo7', 'position7', 'size7', 'detail7', 'ADX SPONSOR', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image8', 'name_adx8', 'name_demo8', 'position8', 'size8', 'detail8', 'ADX SPONSOR', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image9', 'name_adx9', 'name_demo9', 'position9', 'size9', 'detail9', 'ADX SPONSOR', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image10', 'name_adx10', 'name_demo10', 'position10', 'size10', 'detail10', 'ADX SPONSOR', 'MOBILE');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image11', 'name_adx11', 'name_demo11', 'position11', 'size11', 'detail11', 'ADX SPONSOR', 'MOBILE');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image12', 'name_adx12', 'name_demo12', 'position12', 'size12', 'detail12', 'ADX SPONSOR', 'MOBILE');

-- ADX ECOM

INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image1', 'name_adx1', 'name_demo1', 'position1', 'size1', 'detail1', 'ADX ECOM', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image2', 'name_adx2', 'name_demo2', 'position2', 'size2', 'detail2', 'ADX ECOM', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image3', 'name_adx3', 'name_demo3', 'position3', 'size3', 'detail3', 'ADX ECOM', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image4', 'name_adx4', 'name_demo4', 'position4', 'size4', 'detail4', 'ADX ECOM', 'PC');
INSERT INTO adx_type (image, name_adx, name_demo, posti, size, detail, type_adx, type_screen) VALUES('image5', 'name_adx5', 'name_demo5', 'position5', 'size5', 'detail5', 'ADX ECOM', 'PC');

SELECT * FROM adx_type;


-- -- DATA DEMO

-- #=================================================


INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 1-1', 'image1-1', 'link_button1', 'link_button2', 1);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 1-2', 'image1-2', 'link_button1', 'link_button2', 1);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 1-3', 'image1-3', 'link_button1', 'link_button2', 1);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 2-1', 'image2-1', 'link_button1', 'link_button2', 2);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 2-2', 'image2-2', 'link_button1', 'link_button2', 2);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 2-3', 'image2-3', 'link_button1', 'link_button2', 2);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 3-1', 'image3-1', 'link_button1', 'link_button2', 3);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 3-2', 'image3-2', 'link_button1', 'link_button2', 3);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 3-3', 'image3-3', 'link_button1', 'link_button2', 3);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 4-1', 'image4-1', 'link_button1', 'link_button2', 4);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 4-2', 'image4-2', 'link_button1', 'link_button2', 4);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 4-3', 'image4-3', 'link_button1', 'link_button2', 4);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 5-1', 'image5-1', 'link_button1', 'link_button2', 5);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 5-2', 'image5-2', 'link_button1', 'link_button2', 5);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 5-3', 'image5-3', 'link_button1', 'link_button2', 5);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 6-1', 'image6-1', 'link_button1', 'link_button2', 6);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 6-2', 'image6-2', 'link_button1', 'link_button2', 6);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 6-3', 'image6-3', 'link_button1', 'link_button2', 6);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 7-1', 'image7-1', 'link_button1', 'link_button2', 7);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 7-2', 'image7-2', 'link_button1', 'link_button2', 7);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 7-3', 'image7-3', 'link_button1', 'link_button2', 7);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 8-1', 'image8-1', 'link_button1', 'link_button2', 8);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 8-2', 'image8-2', 'link_button1', 'link_button2', 8);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 8-3', 'image8-3', 'link_button1', 'link_button2', 8);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 9-1', 'image9-1', 'link_button1', 'link_button2', 9);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 9-2', 'image9-2', 'link_button1', 'link_button2', 9);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 9-3', 'image9-3', 'link_button1', 'link_button2', 9);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 10-1', 'image10-1', 'link_button1', 'link_button2', 10);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 10-2', 'image10-2', 'link_button1', 'link_button2', 10);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 10-3', 'image10-3', 'link_button1', 'link_button2', 10);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 11-1', 'image11-1', 'link_button1', 'link_button2', 11);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 11-2', 'image11-2', 'link_button1', 'link_button2', 11);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 11-3', 'image11-3', 'link_button1', 'link_button2', 11);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 12-1', 'image12-1', 'link_button1', 'link_button2', 12);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 12-2', 'image12-2', 'link_button1', 'link_button2', 12);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 12-3', 'image12-3', 'link_button1', 'link_button2', 12);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 13-1', 'image13-1', 'link_button1', 'link_button2', 13);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 13-2', 'image13-2', 'link_button1', 'link_button2', 13);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 13-3', 'image13-3', 'link_button1', 'link_button2', 13);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 14-1', 'image14-1', 'link_button1', 'link_button2', 14);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 14-2', 'image14-2', 'link_button1', 'link_button2', 14);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 14-3', 'image14-3', 'link_button1', 'link_button2', 14);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 15-1', 'image15-1', 'link_button1', 'link_button2', 15);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 15-2', 'image15-2', 'link_button1', 'link_button2', 15);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 15-3', 'image15-3', 'link_button1', 'link_button2', 15);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 16-1', 'image16-1', 'link_button1', 'link_button2', 16);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 16-2', 'image16-2', 'link_button1', 'link_button2', 16);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 16-3', 'image16-3', 'link_button1', 'link_button2', 16);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 17-1', 'image17-1', 'link_button1', 'link_button2', 17);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 17-2', 'image17-2', 'link_button1', 'link_button2', 17);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 17-3', 'image17-3', 'link_button1', 'link_button2', 17);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 18-1', 'image18-1', 'link_button1', 'link_button2', 18);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 18-2', 'image18-2', 'link_button1', 'link_button2', 18);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 18-3', 'image18-3', 'link_button1', 'link_button2', 18);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 19-1', 'image19-1', 'link_button1', 'link_button2', 19);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 19-2', 'image19-2', 'link_button1', 'link_button2', 19);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 19-3', 'image19-3', 'link_button1', 'link_button2', 19);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 20-1', 'image20-1', 'link_button1', 'link_button2', 20);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 20-2', 'image20-2', 'link_button1', 'link_button2', 20);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 20-3', 'image20-3', 'link_button1', 'link_button2', 20);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 21-1', 'image21-1', 'link_button1', 'link_button2', 21);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 21-2', 'image21-2', 'link_button1', 'link_button2', 21);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 21-3', 'image21-3', 'link_button1', 'link_button2', 21);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 22-1', 'image22-1', 'link_button1', 'link_button2', 22);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 22-2', 'image22-2', 'link_button1', 'link_button2', 22);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 22-3', 'image22-3', 'link_button1', 'link_button2', 22);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 23-1', 'image23-1', 'link_button1', 'link_button2', 23);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 23-2', 'image23-2', 'link_button1', 'link_button2', 23);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 23-3', 'image23-3', 'link_button1', 'link_button2', 23);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 24-1', 'image24-1', 'link_button1', 'link_button2', 24);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 24-2', 'image24-2', 'link_button1', 'link_button2', 24);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 24-3', 'image24-3', 'link_button1', 'link_button2', 24);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 25-1', 'image25-1', 'link_button1', 'link_button2', 25);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 25-2', 'image25-2', 'link_button1', 'link_button2', 25);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 25-3', 'image25-3', 'link_button1', 'link_button2', 25);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 26-1', 'image26-1', 'link_button1', 'link_button2', 26);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 26-2', 'image26-2', 'link_button1', 'link_button2', 26);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 26-3', 'image26-3', 'link_button1', 'link_button2', 26);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 27-1', 'image27-1', 'link_button1', 'link_button2', 27);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 27-2', 'image27-2', 'link_button1', 'link_button2', 27);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 27-3', 'image27-3', 'link_button1', 'link_button2', 27);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 28-1', 'image28-1', 'link_button1', 'link_button2', 28);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 28-2', 'image28-2', 'link_button1', 'link_button2', 28);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 28-3', 'image28-3', 'link_button1', 'link_button2', 28);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 29-1', 'image29-1', 'link_button1', 'link_button2', 29);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 29-2', 'image29-2', 'link_button1', 'link_button2', 29);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 29-3', 'image29-3', 'link_button1', 'link_button2', 29);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 30-1', 'image30-1', 'link_button1', 'link_button2', 30);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 30-2', 'image30-2', 'link_button1', 'link_button2', 30);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 30-3', 'image30-3', 'link_button1', 'link_button2', 30);

INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 31-1', 'image31-1', 'link_button1', 'link_button2', 31);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 31-2', 'image31-2', 'link_button1', 'link_button2', 31);
INSERT INTO demo_adx(name_demo, image, link_button1, link_button2, id_type_adx) VALUES('name 31-3', 'image31-3', 'link_button1', 'link_button2', 31);

SELECT * FROM demo_adx;

CREATE TABLE user_admin(
    id_user INT AUTO_INCREMENT,
    email VARCHAR(100),
    password_login VARCHAR(20),
    PRIMARY KEY(id_user)
);

SELECT * FROM user_admin;

INSERT INTO user_admin(email, password_login) VALUES('adminAdx@gmail.com', '123456');


SELECT * FROM user_admin WHERE email = 'adminAdx@gmail.com' AND password_login = '123456';

SELECT DISTINCT type_adx FROM adx_type;

SELECT * FROM adx_type WHERE type_adx =  'ADX PC'